@CHARSET "UTF-8";

body {
	padding-top: 10px;
}

.caption {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
}

caption {
	font-size: xx-large;
}

.form-control {
	border: none;
	box-shadow: none;
	height: 45px;
}

.form-box {
	margin-bottom: 10px;
	border: 1px solid gray;
	border-bottom: none;
}

.input-box {
	border-bottom: 1px solid gray;
}

#user {
	padding: 15px;
}

.content {
	
}

.box-small {
	width: 300px;
	margin: auto;
}

.box-medium {
	width: 600px;
	margin: auto;
}

.box-large {
	width: 900px;
	margin: auto;
}

.errorMessage {
	padding: 6px 12px;
	font-size: 0.8em;
	padding: 6px 12px;
	color: red;
}

.successMessage {
	padding: 6px 12px;
	font-size: 0.8em;
	padding: 6px 12px;
	color: black;
}

.list-table th,td{
    text-align: center;
}
