@CHARSET "UTF-8";

header {
	border-bottom: 1px solid gray;
	padding-left: 10px;
}

footer {
	border-top: 1px solid gray;
	padding: 10px;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
}

.content nav {
	border-right: 1px solid gray;
}

nav {
	flex-basis: 150px;
	flex-shrink: 0;
	padding: 10px;
}

main {
	display: flex;
	flex-direction: column;
	padding: 10px;
	flex-shrink: 0;
	padding: 10px;
}

ul {
	margin: 0;
	padding: 0;
}

.article-list {
	border: 1px solid #D8D8D8;
}

li {
	list-style: none;
}

.article-wrap {
	padding: 10px;
	display: flex;
	border-top: 1px solid #D8D8D8;
	display: flex;
}

.article-list>li:first-child {
	border-top: none;
}

.control {
	display: flex;
	flex-direction: row-reverse;
	padding: 10px;
}

.control>a {
	margin-left: 10px;
}

.article-wrap:hover {
	background-color: #FFF0F0;
}
/* .article-wrap>div:NTH-CHILD(1) */
.article-title-wrap {
	word-break: break-word;
	width: 650px;
}

.article-info-wrap {
	width: 150px;
	flex-shrink: 0;
}

.article-info-wrap>div {
	display: flex;
	flex-direction: row;
}

.article-info-wrap span:NTH-CHILD(1) {
	width: 75px;
}

.article-info-wrap span:NTH-CHILD(2) {
	width: 75px;
}

.article-info {
	display: none;
}

body {
	
}

.caption {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
}

caption {
	font-size: xx-large;
}

.form-control {
	border: none;
	box-shadow: none;
	height: 45px;
}

.form-box {
	margin-bottom: 10px;
	border: 1px solid gray;
	border-bottom: none;
}

.input-box {
	border-bottom: 1px solid gray;
}

#user {
	padding: 15px;
}

.content {
	
}

.box-small {
	width: 300px;
	margin: auto;
}

.box-medium {
	width: 600px;
	margin: auto;
}

.box-large {
	width: 900px;
	margin: auto;
}

.errorMessage {
	padding: 6px 12px;
	font-size: 0.8em;
	padding: 6px 12px;
	color: red;
}

.successMessage {
	padding: 6px 12px;
	font-size: 0.8em;
	padding: 6px 12px;
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

@media ( min-width :800px) {
	.container {
		margin: auto;
		width: 1000px;
	}
	main {
		width: 820px;
	}
}

@media ( max-width :800px) {
	body {
		margin: 0px;
	}
	.content {
		flex-direction: column;
	}
	.content nav {
		border: none;
		flex-basis: auto;
	}
	main {
		order: 0;
		border-bottom: 1px solid gray;
		padding-left: 0;
		padding-right: 0;
	}
	nav {
		order: 1;
	}
	.box-medium {
		width: auto;
		margin: 0;
	}
	.box-large {
		width: auto;
		margin: 0;
	}
}

@media ( max-width : 520px) {
	.container {
		min-width: 300px;
	}
	.article-wrap {
		flex-direction: column;
	}
	.article-title-wrap {
		width: auto;
	}
	.article-info {
		float: right;
		display: inline;
	}
	.article-info-wrap {
		display: none;
	}
}

@media ( max-width : 350px) {
	.box-small {
		width: auto;
		margin: 0;
	}
}